*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --rojo: #9c1203;
    --naranjaHP: #e3a000;
    --verde: #033807;
    --azul: #00165e;
    --morado: #2d004d;
    --gris: #5d5d5d;
    --negro: #000000;
}

#hpLogo{
    min-height: 10vh;
    background-color: #FFD700;
    border-top: black solid 1px;
}

#hpLogo img{
    width: 25%;
    padding: 9px;
}

main{
    min-height: 85vh;
    background-color: var(--negro);
    padding-top: 9px;
    padding-bottom: 16px;
}

#filtro {
    margin-top: 25px;   
}

.dimensiones {
    width: 18rem;
    height: 18rem;
}

/*
footer{
    min-height: 5vh;
    background-color: var(--rojo);
    color: white;
}

.fav{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}